.caja{
  border:  1px solid #000;
  margin: 50px 50px 50px 50px;

}
.header{
    width: 30%;
    align-items: center;
    padding: 20px 20px;
}
h2{
    text-align: right;
    padding: 20px 20px;
}
img{
    height: auto;
    border-radius: 5px;
    display: block;
    width: 20%;
    float: left;
}
.navegador a{
   font-size: 50 px;
   text-decoration: none;
   margin: 5px 10px 5px 0px;
   color: black;
   padding: 5px 5px;
   clear: both;
}
a:hover{
    background-color: gray;
    color: black;
    text-decoration: none;
    margin: 5px 10px 5px 0px;
    padding: 5px 5px;
    box-shadow: 3px 0px 0px black;
    clear: both;
}

.der{
  width: 50%;
  float: left;
}
.izq{
    float:right;
    width: 50%;
}
footer{
    text-align: center;
}